<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>магазин</title>
</head>
<body>
<div align="center">
<h1>магазин</h1>
</div>
<div  align="center">
  <ul style="list-style-type:none">
  <Table>
    <li>
            <tr>
                <td><a href="#"><h3>{{li_1}}</h3></a></td><td><button><h5>Купить</h5> </button></td>
            </tr>
    </li>
    <li>
            <tr>
                <td><a href="#"><h3>{{li_2}}</h3></a></td><td><button><h5>Купить</h5></button></td>
            </tr>
    </li>
    <li>
            <tr>
                <td><a href="#"><h3>{{li_3}}</h3></a></td><td><button><h5>Купить</h5> </button></td>
            </tr>
    </li>
  </Table>
  </ul>
<button><a href="/index">вернуться на главную</a></button>
</div>

</body>
</html>